# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/changmeng

# Next.js Configuration
NEXT_PUBLIC_CLIENT_URL=http://localhost:3001

# Socket.io Configuration
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
